{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" class="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Fasilkom Friends</h2>
                    <div id="friend-list" class="list-group">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            // {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}',//#URL untuk mendapatkan list teman,
                success: function (friend_list) {
                    console.log(friend_list)
                    x = friend_list["results"]
                    console.log(x)
                    // #tampilkan list teman ke halaman
                    // #hint : gunakan fungsi jquery append()
                    if(friend_list.length==0) {
                        var html = '<div class="alert alert-danger text-center">\
                            <strong>Oops!</strong> Tidak ada teman\
                            </div>';
                        $("#friend-list").append(html)
                    }
                    else {
                        $.each(x, function(index, friend) {
                            console.log("masuk each list")
                            console.log("friend_list = ", friend_list)
                            console.log("index = ", index)
                            console.log("friend = ", friend)

                            var button = '<span class="pull-right">'+
                                            '<button type="button" id="'+ friend.npm +'" class="btn btn-danger"'+
                                            'onClick="deleteFriend(this)">'+
                                                'Hapus teman'+
                                            '</button>'+
                                         '</span>';
                            var html = '<a class="list-group-item clearfix">'+
                                        friend.friend_name +
                                        ' (' + friend.npm + ')' + button +  '</a>';

                            console.log("append data to html")
                            $("#friend-list").append(html)
                        });
                    }
                }
            });
        });

        var deleteFriend = function(e) {
            var npm = $(e).attr('id')
            console.log(npm)
            $.ajax({
                method: "POST",
                url: "{% url 'lab-7:delete-friend' %}",
                data: {friend_id: npm},
                // data: { friend_id: npm, npm: npm},
                success : function () {
                    alert ("sukses hapus teman")
                    location.reload()
                },
                error : function (error) {
                    alert("Gagal hapus Teman")
                }
            });
        };

    </script>
{% endblock %}
